<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <!-- 控制台输出格式 -->
        <property name="PATTERN">%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%-40.40C{1.}}{cyan} : %m%n
        </property>
        <property name="FILE_PATTERN">%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}} ${LOG_LEVEL_PATTERN:-%5p} %-40.40C{1.} : %m%n
        </property>
    </properties>
    <appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <File name="FILE" fileName="./result.log" append="false">
            <PatternLayout pattern="${FILE_PATTERN}"/>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appenderref ref="CONSOLE"/>
            <appenderref ref="FILE"/>
        </root>
    </loggers>

</configuration>